// *,
// body {
//   @media screen and (min-width: 768px) {
//     cursor: url(../images/cursors/cursor.svg) 0 0,
//       url(../images/cursors/cursor.svg) 32 32, auto;
//   }
// }

// плавный скроллинг по якорным ссылкам.
html {
  scroll-behavior: smooth;
}
//  цвет и оформления ползунка скролла
// *::-webkit-scrollbar {
//   width: 3px; /* ширина для вертикального скролла */
//   height: 3px; /* высота для горизонтального скролла */
//   background-color: transparent;
//   position: absolute;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: #f8d24e;
// }

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
span::selection,
a::selection,
li::selection {
  background-color: #f8d24e;
  color: #131313;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  cursor: inherit;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  cursor: inherit;
}
