// font-weight
$semibold: 600;
$medium: 500;
$bold: 700;
$extrabold: 800;
$black: 900;
// font-sizes
$tiny: 12px;
$small: 16px;
$normal: 18px;
$medium: 20px;
$big: 22px;
$large: 26px;
$extra-large: 30px;
$huge: 34px;
$extra-huge: 48px;
$colossal: 58px;
