@import '~node_modules/modern-normalize/modern-normalize.css';

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  background-color: #84a178;
  padding-top: 50px;
  padding-bottom: 256px;
}
.hero__wrapper {
  padding-left: 20px;
}
.hero__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    margin-bottom: 28px;
  }
}
.hero-list {
  display: flex;
  gap: 12px;
}
.hero-list__products {
  border: 2px solid #f8d24e;
  border-radius: 8px;
  padding: 11px 26px;
}
.hero-list__made {
  display: flex;
}
*,
body {
  cursor: url(../images/cursors/cursor.svg) 0 0,
    url(../images/cursors/cursor.svg) 32 32, auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Seymour One', sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  cursor: inherit;
}

ul,
li {
  list-style-type: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  cursor: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  cursor: inherit;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px;
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #84a178;
}

.page-header__container {
  display: grid;
}
@media screen and (max-width: 767px) {
  .page-header__container {
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    grid-template-columns: auto auto 184px;
    padding-top: 20px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    align-content: end;
    grid-template-columns: auto auto auto;
    padding-top: 8px;
  }
}

.backdrop-menu-order {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.is-hidden-menu-order {
  opacity: 0;
  pointer-events: none;
}
.is-hidden-menu-order .modal-menu-order {
  opacity: 0;
}

.backdrop-menu-order__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.modal__action-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__action-close .icon-order-close {
  width: 20px;
  height: 20px;
  fill: currentColor;
  background: #ffffff;
}

.form-order-buy-now {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 40px;
  height: 37px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 60px;
    height: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-cover__logo {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    overflow-y: auto;
    z-index: 1;
    background-color: #84a178;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
}

.menu-container__modal {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.page-header__menu-cover {
  display: grid;
  align-content: center;
}
@media screen and (max-width: 767px) {
  .page-header__menu-cover {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    padding-top: 12px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .page-header__menu-cover {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    padding-top: 12px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header__menu-mobile {
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
}
@media screen and (min-width: 768px) {
  .page-header__menu-mobile {
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__menu-mobile {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header__menu-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header__nav {
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 767px) {
  .nav__list {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
  }
}

.nav__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fcfcfc;
}
@media screen and (max-width: 1199px) {
  .nav__item {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item {
    font-size: 16px;
    line-height: 20px;
    padding-top: 32px;
    padding-bottom: 13px;
  }
}

.page-header__menu-button {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}
@media screen and (max-width: 767px) {
  .page-header__menu-button {
    margin: auto 20px auto auto;
  }
}
@media screen and (min-width: 767px) {
  .page-header__menu-button {
    margin: 0 0 0 auto;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__menu-button {
    display: none;
  }
}

.icon-menu {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: inherit;
  margin: auto;
}

.icon-menu--order {
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .js-open-menu {
    justify-self: end;
    align-self: end;
  }
}

.menu-order-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  width: 152px;
  height: 42px;
}
@media screen and (max-width: 767px) {
  .menu-order-button {
    margin: auto auto 64px auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-order-button--mobile {
    display: none;
  }
}

.menu-order-button--tablet {
  justify-self: end;
  align-self: end;
}
@media screen and (max-width: 767px) {
  .menu-order-button--tablet {
    display: none;
  }
}

.modal-menu-order__menu-button {
  width: 32px;
  height: 32px;
  fill: #131313;
}

.menu-order-buy-now__submit-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
} /*# sourceMappingURL=index.css.map */
