a {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: $time-function;
  transition-property: fill, color, background-color, transform, border-color,
    letter-spacing;
}

button {
  transition-duration: 250ms;
  transition-timing-function: $time-function;
  transition-property: color, background-color, box-shadow, fill, transform;
  &:hover > svg {
    fill: getcolor(accent);
  }
  & > svg {
    transition: fill 250ms $time-function;
  }
}
input {
  transition: border-color 250ms $time-function, box-shadow 250ms $time-function;
  &:hover,
  &:focus {
    border-color: getcolor(accent);
    box-shadow: 1px 0px 16px 0px rgba(227, 220, 16, 0.35);
    outline: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes translatey {
  0% {
    transform: translateY(100%);
    filter: blur(18px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
