// fonts
$primary-font-family: ‘Montserrat’, sans-serif;
$secondary-font-family: ‘Seymour One’, sans-serif;

// colors
$colors: (
  'primary-text-color': #fcfcfc,
  'secondary-text-color': #131313,
  'accent': #f8d24e,
  'time-text-color': #ababab,
  'address-text-color': #d6936d,
  'ice-cream-bg-color': #aec6a5,
  'ice-coffee-bg-color': #efd478,
  'modal-backdrop-bg-color': rgb(129, 124, 124, 0.3),
  'modal-bg-color': #ffffff,
  'modal-border-color': #9cbe8f,
  'imput-border-color': #84a178,
  'imput-bg-color': rgba(248, 210, 78, 0.1),
);
// чтобы использовать цвет - после свойства пишем getcolor(нужный цвет (только те, которые есть в COLORS. При надобности добавьте свои))
@function getcolor($key) {
  @return map-get($colors, $key);
}

// breakpoints

$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1199px;
$desktop: 1200px;

// animation

$time-speed: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
