.menu-container {
    @media screen and (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        overflow-y: auto;
        z-index: 1;
        background-color: #84A178;

        &.is-open {
            transform: translateX(0);
        }
    }

}


.menu-container__modal {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.page-header__menu-cover {
    display: grid;
    align-content: center;
    @media screen and (max-width: 767px) {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-content: center;
        padding: 0 20px;
        padding-top: 12px;
        margin: 0 auto;  
    }

    @media screen and (max-width: 1199px) {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-content: center;
        padding: 0 20px;
        padding-top: 12px;
        margin: 0 auto;  
    }
    
}


.page-header__menu-mobile {
    @media screen and (max-width: 767px) {
        margin-top: 51px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
       
    }
    @media screen and (min-width: 768px) {
        margin-top: 76px;
        margin-left: auto;
        margin-right: auto;
       
    }
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
       
    }
    
}

.page-header__menu-tablet {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

  }  
    
}


.page-header__nav {

    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @media screen and (max-width: 767px) {
    gap: 32px;
    }
    @media screen and (min-width: 768px) {
        gap: 40px;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;
    }

}

.nav__item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FCFCFC;
    
    @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 39px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 20px;

        padding-top: 32px;
        padding-bottom: 13px;
    }
}
.nav__item {
    &:hover,
    &:focus {
        color: #F8D24E;
    }
}