<section class="about" id="how_its_made">
  <div class="container about-container">
    <p class="about__uppertitle element-animation">tradition and love</p>
    <h2 class="about__title element-animation">how it’s made?</h2>
    <div class="about-desription element-animation">
      <p class="about-desription__text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-desription__text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-desription__text">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </div>
    <button
      type="button"
      class="button about__button element-animation"
      data-modal-id="read-more-modal"
    >
      Read more
      <svg
        class="about__button-icon"
        width="12"
        height="12"
        aria-label="Перемикач мобільного меню"
      >
        <use class="icon-menu" href="./images/sprite.svg#short-arrow"></use>
      </svg>
    </button>
  </div>
</section>
