<section class="advantages">
<div class="advantages__container container">
  <h2 class="advantages__title" hidden>Переваги</h2>
  <ul class="advantages__list">
    <li class="advantages__item advantages__item--first">
      <p class="advantages__description">
        <span class="advantages__value advantages__value--first">721</span>
        Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item advantages__item--secondary">
      <p class="advantages__description">
        <span class="advantages__value advantages__value--secondary">16kg</span>Aliquam ac dui vel dui vulputaпte consectetur. Mauris
        massa.
      </p>
    </li>
    <li class="advantages__item advantages__item--third">
      <p class="advantages__description">
        <span class="advantages__value advantages__value--third">84</span>Aliquam ac dui vel dui vulputate consectetur. Mauris
        massa.
      </p>
    </li>
  </ul>
</div>
</section>
