<div class="buy-overlay">
    <div class="buy-container">
        <button type="reset" class="buy-icon">
            <svg class="buy-close" width="20" height="20">
                <use href="./images/optimized/mobile_modal-close.svg"></use>
            </svg>
        </button>
        <h2 class="buy-title">Buy now</h2>
        <form class="buy-form">
            <div role="group" class="buy-group">
                <ul class="buy-list buy-wrapper--green">
                    <li class="buy-item">
                        <input type="checkbox" name="option" value="ice-cream" class="buy-input is-close">
                        <div class="buy-wrapper buy-wrapper--green">
                            <div class="buy-picture buy-picture--green">
                                <picture class="buy-image">
                                    <source
                                        srcset="./images/optimized/option1@1x-modal.webp 132w, ./images/optimized/option1@2x-modal.webp 264w"
                                        sizes="132px" type="image/webp">
                                    <source
                                        srcset="./images/optimized/option1@1x-modal.jpg 132w, ./images/optimized/option1@2x-modal.jpg 264w"
                                        sizes="132px" type="image/jpeg">
                                    <img src="./images/optimized/option1@1x-modal.jpg" alt="option1">
                                </picture>
                            </div>
                            <strong class="buy-product">ice cream</strong>
                        </div>
                    </li>
                    <li class="buy-item">
                        <input type="checkbox" name="option" value="ice-coffee" class="buy-input is-close">
                        <div class="buy-wrapper buy-wrapper--yellow">
                            <div class="buy-picture buy-picture--yellow">
                                <picture class="buy-image">
                                    <source
                                        srcset="./images/optimized/option2@1x-modal.webp 132w, ./images/optimized/option2@2x-modal.webp 264w"
                                        sizes="132px" type="image/webp">
                                    <source
                                        srcset="./images/optimized/option2@1x-modal.jpg 132w, ./images/optimized/option2@2x-modal.jpg 264w"
                                        sizes="132px" type="image/jpeg">
                                    <img src="./images/optimized/option2@1x-modal.jpg" alt="option2">
                                </picture>
                            </div>
                            <strong class="buy-product">ice coffee</strong>
                        </div>
                    </li>
                    <li class="buy-item">
                        <input type="checkbox" name="option" value="milkshake" class="buy-input is-close">
                        <div class="buy-wrapper buy-wrapper--orange">
                            <div class="buy-picture buy-picture--orange">
                                <picture class="buy-image">
                                    <source
                                        srcset="./images/optimized/option3@1x-modal.webp 132w, ./images/optimized/option3@2x-modal.webp 264w"
                                        sizes="132px" type="image/webp">
                                    <source
                                        srcset="./images/optimized/option3@1x-modal.jpg 132w, ./images/optimized/option3@2x-modal.jpg 264w"
                                        sizes="132px" type="image/jpeg">
                                    <img src="./images/optimized/option3@1x-modal.jpg" alt="option3">
                                </picture>
                            </div>
                            <strong class="buy-product">milkshake</strong>
                        </div>
                    </li>
                </ul>
                <input type="text" class="buy-enter" name="your-name" placeholder="Name">
                <input type="tel" class="buy-enter" name="your-tel" placeholder="Phone">
                <textarea class="buy-comment" name="your-comment" placeholder="Comment"></textarea>
                <button type="submit" class="buy-button">Submit</button>
            </div>
        </form>
    </div>
</div>