<div class="backdrop-menu-order is-hidden-menu-order" data-menu-order>
  <div class="buy-container">
    <button type="submit" class="buy-icon" data-menu-order-close>
      <svg aria-label="modal-close" viewBox="0 0 32 32" width="24" height="24">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 id="buy-title" class="buy-title">Buy now</h2>
    <form class="buy-form">
      <div class="buy-cards">
        <input
          type="checkbox"
          name="option"
          value="ice-cream"
          class="buy-input is-close"
        />
        <div class="buy-wrapper buy-wrapper--green">
          <div class="buy-picture buy-picture--green">
            <img
              src="./images/buy-now/option1@1x-modal.jpg"
              srcset="
                ./images/buy-now/option1@1x-modal.jpg 132w,
                ./images/buy-now/option1@2x-modal.jpg 264w
              "
              alt="option1"
              class="buy-image"
              sizes="132px, 100vw"
            />
          </div>
          <strong class="buy-product">ice cream</strong>
        </div>
        <input
          type="checkbox"
          name="option"
          value="ice-coffee"
          checked
          class="buy-input is-close"
        />
        <div class="buy-wrapper buy-wrapper--yellow">
          <div class="buy-picture buy-picture--yellow">
            <img
              src="./images/buy-now/option2@1x-modal.jpg"
              srcset="
                ./images/buy-now/option2@1x-modal.jpg 132w,
                ./images/buy-now/option2@2x-modal.jpg 264w
              "
              alt="option2"
              class="buy-image"
              sizes="132px, 100vw"
            />
          </div>
          <strong class="buy-product">ice coffee</strong>
        </div>
        <input
          type="checkbox"
          name="option"
          value="milkshake"
          class="buy-input is-close"
        />
        <div class="buy-wrapper buy-wrapper--orange">
          <div class="buy-picture buy-picture--orange">
            <img
              src="./images/buy-now/option3@1x-modal.jpg"
              srcset="
                ./images/buy-now/option3@1x-modal.jpg 132w,
                ./images/buy-now/option3@2x-modal.jpg 264w
              "
              sizes="132px, 100vw"
              alt="option3"
              class="buy-image"
            />
          </div>
          <strong class="buy-product">milkshake</strong>
        </div>
      </div>
      <div class="buy-bottom">
        <input
          type="text"
          class="buy-enter"
          name="your-name"
          placeholder="Name"
        />
        <input type="tel" class="buy-enter" name="your-tel" placeholder="Phone" />
        <textarea
          class="buy-comment"
          name="your-comment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="buy-button">Submit</button>
      </div>
    </form>
  </div>
</div>
