<!-- <section class="galery section">
  <div class="galery-container">
    <div class="galery-image">
      <picture>
        <source
          srcset="
            ./images/optimized/slider_screen1@1x-mobile.webp   280w,
            ./images/optimized/slider_screen1@2x-mobile.webp   560w,
            ./images/optimized/slider_screen1@1x-tablet.webp   704w,
            ./images/optimized/slider_screen1@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen1@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen1@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen1@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen1@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen1@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen1@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen1@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen1@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen1@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture1"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/optimized/slider_screen2@1x-mobile.webp   280w,
            ./images/optimized/slider_screen2@2x-mobile.webp   560w,
            ./images/optimized/slider_screen2@1x-tablet.webp   704w,
            ./images/optimized/slider_screen2@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen2@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen2@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen2@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen2@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen2@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen2@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen2@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen2@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen2@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture2"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/optimized/slider_screen3@1x-mobile.webp   280w,
            ./images/optimized/slider_screen3@2x-mobile.webp   560w,
            ./images/optimized/slider_screen3@1x-tablet.webp   704w,
            ./images/optimized/slider_screen3@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen3@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen3@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen3@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen3@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen3@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen3@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen3@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen3@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen3@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture3"
        />
      </picture>
    </div>
  </div>
</section> -->
