<section class="hero">
  <div class="container hero-container">
    <div class="wrapper">
      <div class="hero__wrapper--left">
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__title--accent">passion</span>
        </h1>
        <ul class="hero-list">
          <li class="hero-list__item">
            <a
              href="#section-products"
              class="hero-list__link hero-list__link--bordered"
              >Products</a
            >
          </li>
          <li class="hero-list__item">
            <a
              href="#how_its_made"
              class="hero-list__link hero-list__link--underline"
              >How it's made?</a
            >
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./images/hero/main_icecream@1x-desktop.png 1x,
              ./images/hero/main_icecream@2x-desktop.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero/main_icecream@1x-tablet.png 1x,
              ./images/hero/main_icecream@2x-tablet.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero/main_icecream@1x-mobile.png 1x,
              ./images/hero/main_icecream@2x-mobile.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/hero/main_icecream@1x-desktop.png"
            alt="Фото морозива"
            class="hero__icecream"
            loading="lazy"
          />
        </picture>
        <div class="wrapper__textplate">
          <picture>
            <source
              srcset="
                ./images/hero/icecream_plate@1x-desktop.png 1x,
                ./images/hero/icecream_plate@2x-desktop.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/hero/icecream_plate@1x-tablet.png 1x,
                ./images/hero/icecream_plate@2x-tablet.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./images/hero/icecream_plate@1x-desktop.png"
              alt="Тарелка з морозивом"
              class="hero__plate"
              loading="lazy"
            />
          </picture>
          <div>
            <p class="wrapper__textplate--title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#section-products" class="arrow-link"
              ><svg width="40px" height="40px" class="arrow-link__icon">
                <use href="./images/sprite.svg#arrow"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="hero__wrapper--right">
        <ul class="locations-count">
          <li class="locations-count__item">
            <span
              class="locations-count__item--accent locations-count-16"
              data-counter-min="1"
              data-counter-max="16"
              data-counter-speed="90"
              data-counter-increment="1"
              data-counter-delay="10"
              >16</span
            >cafes
          </li>
          <li class="locations-count__item">
            <span
              class="locations-count__item--accent locations-count-23"
              data-counter-min="1"
              data-counter-max="23"
              data-counter-speed="70"
              data-counter-increment="1"
              data-counter-delay="10"
              >23</span
            >food trucks
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
