<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        Ice cream <br />
        made with <br />
        passion
      </h1>
      <ul class="hero-list">
        <li class="hero-list__item">
          <a href="#" class="hero-list__link hero-list__link--bordered"
            >Products</a
          >
        </li>
        <li class="hero-list__item">
          <a href="#" class="hero-list__link hero-list__link--underline"
            >How it's made?</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
