<div class="backdrop-franchise is-hidden" id="location-modal">
  <div class="modal-location">
    <button
      type="button"
      class="modal-franchise__button"
      data-modal-id="location-modal"
    >
      <svg 
      aria-label="modal-close" 
      viewBox="0 0 32 32" 
      width="24"
      height="24">
      <use href="./images/sprite.svg#close">
      </use>
    </svg>
    </button>
    <h2 class="modal-franchise__title">
      Our Locations
    </h2>
        <picture>
          <source
            srcset="
            ./images/location-modal/location-mobile.jpg 1x,
            ./images/location-modal/location-desktop_tablet.jpg 1x,
            ./images/location-modal/location-desktop_tablet@2x.jpg 2x
            "
            sizes="(min-width: 768px) 448px, (min-width: 480px) 224px, (max-width: 479px) 100vw"
          />
          <img
            src="./images/location-modal/location-mobile.jpg"
            alt="location__photo"
            class="location-map"
          />
        </picture>
    </form>
    <form action="https://www.google.com/maps/@37.7934639,-96.1825313,3737871m/data=!3m2!1e3!4b1!4m2!11m1!2siK5PnEzjJIDK_I2gg_GM-80Pf9my_w" target="_blank">
   <button type="submit" class="modal__form-button">Open map</button>
  </form>
  </div>
</div>
