<div class="backdrop is-hidden" id="read-more-modal">
  <div class="modal-video">
    <button
      type="button"
      class="modal-video__button"
      data-modal-id="read-more-modal"
    >
      <svg
        aria-label="modal-video-close"
        viewBox="0 0 32 32"
        width="24"
        height="24"
      >
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-video__title">How it’s made?</h2>
    <iframe
      class="modal-video__video"
      src="https://www.youtube.com/embed/luAalhez2Dk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal-video__text text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor
    </p>
  </div>
</div>
