<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal__button">
      <!-- <img
        src="./images/mobile_modal-close.svg"
        alt=""
        width="24"
        height="24"
      /> -->
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <iframe
      class="modal__video"
      src="https://www.youtube.com/embed/luAalhez2Dk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__text text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor
    </p>
  </div>
</div>
