<section class="contacts" id="contact">
  <div class="container">
    <h2 class="title-hiden">Contacts</h2>
    <ul class="contacts-wrapper element-animation">
      <li class="contacts-wrapper__item">
        <div class="wrapper-text">
          <p class="wrapper-name">CAFE</p>
        </div>
        <address class="contacts__address">
          <p class="contacts__address-city">Chicago</p>
          <a
            href="https://goo.gl/maps/F6amGt6GHEUPqbWC8"
            class="address-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p class="schedule-list__day">Monday-Friday</p>
            <p class="schedule-list__time">
              <time datetime="06:00">06:00 AM -</time>
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__day">Saturday - Sunday</p>
            <p class="schedule-list__time">
              <time datetime="08:00">08:00 AM -</time>
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+61(0)383766284" class="contacts-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-wrapper__item">
        <div class="wrapper-text">
          <p class="wrapper-name">FOODTRUCK</p>
        </div>
        <address class="contacts__address">
          <p class="contacts__address-city">Los Angeles</p>
          <a
            href="https://goo.gl/maps/9Mx4Wd2jPyS9oXgj7"
            class="address-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p class="schedule-list__day">Monday-Friday</p>
            <p class="schedule-list__time">
              <time datetime="06:00">06:00 AM -</time>
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__day">Saturday - Sunday</p>
            <p class="schedule-list__time">
              <time datetime="08:00">08:00 AM -</time>
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+61(0)383766284" class="contacts-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-wrapper__item">
        <div class="wrapper-text">
          <p class="wrapper-name">CAFE</p>
        </div>
        <address class="contacts__address">
          <p class="contacts__address-city">New York</p>
          <a
            href="https://goo.gl/maps/zJUaQR2pwFLh3RGw6"
            class="address-link"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p class="schedule-list__day">Monday-Friday</p>
            <p class="schedule-list__time">
              <time datetime="06:00">06:00 AM -</time>
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__day">Saturday - Sunday</p>
            <p class="schedule-list__time">
              <time datetime="08:00">08:00 AM -</time>
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+61(0)383766284" class="contacts-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item">
        <button
          class="contacts__button contacts__button-locations"
          type="button"
          data-modal-id="location-modal"
        >
          <span class="contacts__button-text">Our Locations</span>
          <svg
            class="icon-menu--order"
            width="12"
            height="12"
            aria-label="Перемикач мобільного меню"
          >
            <use class="icon-menu" href="./images/sprite.svg#short-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="contacts__button contacts__button-franchise"
          type="button"
          data-modal-id="franchise-modal"
        >
          <span class="contacts__button-text">Franchise</span>
          <svg
            class="icon-menu--order"
            width="12"
            height="12"
            aria-label="Перемикач мобільного меню"
          >
            <use class="icon-menu" href="./images/sprite.svg#short-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
