<section class="section-products" id="section-products">
  <div class="container">
    <p class="section-products__text">100% natural</p>
    <h2 class="section-products__titel">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products-list__item--green">
        <h3 class="products-list__titel">ice cream</h3>
        <p class="products-list__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products-list-button"
          type="button"
          data-modal-id="product-modal"
        >
          <svg class="products-list__icon" width="40" height="16">
            <use href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--yelow">
        <h3 class="products-list__titel">ice coffee</h3>
        <p class="products-list__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products-list-button"
          type="button"
          data-modal-id="product-modal"
        >
          <svg class="products-list__icon" width="40" height="16">
            <use href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--brown">
        <h3 class="products-list__titel">milkshakes</h3>
        <p class="products-list__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="products-list-button"
          type="button"
          data-modal-id="product-modal"
        >
          <svg class="products-list__icon" width="40" height="16">
            <use href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
