<section class="contacts">
   <div class="container">
      <h2 class="contacts__title">Contacts</h2>
      <ul class="contacts-wrapper">
         <li class="contacts-wrapper__item">
            <p class="wrapper-name">CAFE</p>
            <address class="contacts__address">
               <p class="contacts__address-city">Chicago</p>
               <a href="" class="address-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
               <ul class="schedule-list">
                  <li class="schedule-list__item">
                     <p class="schedule-list__day">Monday-Friday</p>
                     <p class="schedule-list__time">
                        <time datetime="06:00">06:00 AM -</time>
                        <time datetime="10:00">10:00 PM</time>
                     </p>
                  </li>
                  <li class="schedule-list__item">
                     <p class="schedule-list__day">Saturday - Sunday</p>
                     <p class="schedule-list__time">
                        <time datetime="08:00">08:00 AM -</time>
                        <time datetime="16:00">16:00 PM</time>
                     </p>
                  </li>
               </ul>
               <ul class="contacts-list">
                  <li class="contacts-list__item"><a href="" class="contacts-list__link">+61(0) 383 766 284</a></li>
                  <li class="contacts-list__item"><a href="" class="contacts-list__link">noreply@envato.com</a></li>
               </ul>
            </address>
         </li>
      </ul>
   </div>
</section>