<section class="slider">
  <div class="container">
    <div class="galery-container">
      <picture class="galery-image">
        <source
          srcset="
            ./images/optimized/slider_screen1@1x-mobile.webp   280w,
            ./images/optimized/slider_screen1@2x-mobile.webp   560w,
            ./images/optimized/slider_screen1@1x-tablet.webp   704w,
            ./images/optimized/slider_screen1@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen1@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen1@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen1@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen1@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen1@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen1@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen1@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen1@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen1@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture1 galery-image__picture"
        />
      </picture>
      <picture class="galery-image">
        <source
          srcset="
            ./images/optimized/slider_screen2@1x-mobile.webp   280w,
            ./images/optimized/slider_screen2@2x-mobile.webp   560w,
            ./images/optimized/slider_screen2@1x-tablet.webp   704w,
            ./images/optimized/slider_screen2@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen2@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen2@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen2@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen2@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen2@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen2@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen2@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen2@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen2@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture2 galery-image__picture"
        />
      </picture>
      <picture class="galery-image">
        <source
          srcset="
            ./images/optimized/slider_screen3@1x-mobile.webp   280w,
            ./images/optimized/slider_screen3@2x-mobile.webp   560w,
            ./images/optimized/slider_screen3@1x-tablet.webp   704w,
            ./images/optimized/slider_screen3@2x-tablet.webp  1408w,
            ./images/optimized/slider_screen3@1x-desktop.webp 1013w,
            ./images/optimized/slider_screen3@2x-desktop.webp 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/webp"
        />
        <source
          srcset="
            ./images/optimized/slider_screen3@1x-mobile.jpg   280w,
            ./images/optimized/slider_screen3@2x-mobile.jpg   560w,
            ./images/optimized/slider_screen3@1x-tablet.jpg   704w,
            ./images/optimized/slider_screen3@2x-tablet.jpg  1408w,
            ./images/optimized/slider_screen3@1x-desktop.jpg 1013w,
            ./images/optimized/slider_screen3@2x-desktop.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767.98px) 280px"
          type="image/jpeg"
        />
        <img
          src="./images/optimized/slider_screen3@1x-mobile.jpg"
          alt="slider screen1"
          class="galery-image__picture3 galery-image__picture"
        />
      </picture>
    </div>
    <div class="my-slider">
      <div class="slider__card">
        <picture>
          <source
            srcset="
              ./images/slider/photo-slider1.jpg    1x,
              ./images/slider/photo-slider1@2x.jpg 2x
            "
            sizes="width: 85px"
          />
          <img
            class="slider__photo"
            src="./images/slider/photo-slider1.jpg"
            alt="slider__photo"
          />
        </picture>
        <p class="slider__review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="slider__client">Emily, Los Angeles</p>
      </div>
      <div class="slider__card">
        <picture>
          <source
            srcset="
              ./images/slider/photo-slider2.jpg    1x,
              ./images/slider/photo-slider2@2x.jpg 2x
            "
            sizes="width: 85px"
          />
          <img
            class="slider__photo"
            src="./images/slider/photo-slider2.jpg"
            alt="slider__photo"
          />
        </picture>
        <p class="slider__review">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="slider__client">Diana, Chicago</p>
      </div>
      <div class="slider__card">
        <picture>
          <source
            srcset="
              ./images/slider/photo-slider3.jpg    1x,
              ./images/slider/photo-slider3@2x.jpg 2x
            "
            sizes="width: 85px"
          />
          <img
            class="slider__photo"
            src="./images/slider/photo-slider3.jpg"
            alt="slider__photo"
          />
        </picture>
        <p class="slider__review">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="slider__client">Bryan, New-York</p>
      </div>
    </div>
  </div>
</section>
