.section-products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../images/backgroud-main/backgroud-main@1x-mobile.png');
  background-position: center;
  background-position-y: -13%;
  background-position-x: 64%;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/backgroud-main/backgroud-main@2x-mobile.png');
  }

  @media screen and (min-width: 768px) {
    background-position-y: 69%;
    background-position-x: 0%;
    background-image: url('../images/backgroud-main/backgroud-main@1x-tablet.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/backgroud-main/backgroud-main@2x-tablet.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-position-y: 88%;
    background-image: url('../images/backgroud-main/backgroud-main@1x-desktop.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/backgroud-main/backgroud-main@2x-desktop.png');
    }
  }
}

.section-products__text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.section-products__titel {
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}

.products-list {

  &__icon {
    transition: fill 250ms linear, transform 250ms $time-function;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}



.products-list__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;

  text-align: center;
  letter-spacing: 0.04em;

  color: #131313;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.products-list-button {
  margin-top: 101px;
  cursor: pointer;
  &:hover .products-list__icon,
    &:focus .products-list__icon {
      transform: scaleX(1.3);
      fill: #ffff;
    }
}

.products-list__item {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // height: 420px;
  padding-top: 123px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 168px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &--green {
    background: #aec6a5;
  }

  &--yelow {
    background: #efd478;
  }

  &--brown {
    background: #d6936d;
  }

  @media screen and (min-width: 480px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 16px) / 3);
    width: 224px;
    height: 428px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 108px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 15.7808px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 29px) / 3);
    width: 370px;
    height: 536px;
    padding-top: 165px;
    padding-bottom: 60px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 24px;
  }

  &::before {
    content: '';
    width: 200px;
    height: 211px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 50%;
    top: -108px;

    @media screen and (min-width: 768px) {
        width: 200px;
        height: 212px;
        top: -120px;
      }
    
      @media screen and (min-width: 1200px) {
        width: 302px;
        height: 318px;
        top: -183px;
        }
    
        
  }
}

.products-list__item--green::before {
  content: '';
  background-image: url(../images/section-products/ice-cream_@1x-mobile-tablet.png);
  box-shadow: 0px 5.34219px 20.0332px rgb(10 136 23 / 25%);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/section-products/ice-cream_@2x-mobile-tablet.png);
  }

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: 1200px) {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    background-image: url(../images/section-products/ice-cream_@1x-desktop.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/section-products/ice-cream_@2x-desktop.png);
    }
  }
}

.products-list__item--yelow::before {
  content: '';
  background-image: url(../images/section-products/ice-coffee_@1x-mobile-tablet.png);
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/section-products/ice-coffee_@2x-mobile-tablet.png);
  }

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: 1200px) {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    background-image: url(../images/section-products/ice-coffee_@1x-desktop.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/section-products/ice-coffee_@2x-desktop.png);
    }
  }
}

.products-list__item--brown::before {
  content: '';
  background-image: url(../images/section-products/milkshakes_@1x-mobile-tablet.png);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/section-products/milkshakes_@2x-mobile-tablet.png);
  }

  @media screen and (min-width: 768px) {
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: 1200px) {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    background-image: url(../images/section-products/milkshakes_@1x-desktop.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/section-products/milkshakes_@2x-desktop.png);
    }
  }
}