.backdrop--buy-now {
  padding-top: 300px;
}
.modal-buy {
  position: relative;
  width: 280px;
  padding: 28px;
  background-color: getcolor(primary-text-color);
  text-align: center;
  background-color: #fcfcfc;
  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 54px;
  }
  &__close {
    position: absolute;
    top: 12;
    right: 12;
    cursor: pointer;
    &:hover .close-icon,
    &:focus .close-icon {
      fill: getcolor(accent);
    }
  }
  .close-icon {
    transition: fill 250ms $time-function;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
    align-items: center;
  }
  &__input {
    width: 100%;
    margin: 0;
    padding: 7px 11px 6px;
    display: block;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    color: #131313;
    background-color: rgba(248, 210, 78, 0.1);

    border: 1px solid #84a178;
    border-radius: 10px;
    transition: border-color 250ms $time-function,
      box-shadow 250ms $time-function;
    &:hover,
    &:focus {
      border-color: getcolor(accent);
      box-shadow: 1px 0px 16px 0px rgba(227, 220, 16, 0.35);
      outline: 0;
    }

    @media screen and (min-width: 768px) {
      width: 368px;
      padding: 9px 15px;

      font-size: 14px;
      line-height: calc(22 / 14);
    }
  }
  &__textarea {
    display: block;
    width: 100%;
    height: 64px;
    padding: 8px 12px;
    resize: none;

    font-size: 12px;
    line-height: calc(17 / 12);
    font-weight: 400;

    color: #131313;
    background-color: rgba(248, 210, 78, 0.1);

    border: 1px solid #84a178;
    border-radius: 10px;
    transition: border-color 250ms $time-function,
      box-shadow 250ms $time-function;
    &:hover,
    &:focus {
      border-color: getcolor(accent);
      box-shadow: 1px 0px 16px 0px rgba(227, 220, 16, 0.35);
      outline: 0;
    }

    @media screen and (min-width: 768px) {
      width: 368px;
      height: 84px;
      padding: 10px 15px;

      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
}
.form {
  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
  }
  &-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    list-style: none;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin-top: 40px;
      margin-bottom: 60px;
      flex-direction: row;
      gap: 32px;
    }
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.buy-now__text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(20 / 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 7;
}
.checkbox {
  &-g,
  &-y,
  &-b {
    appearance: none;
  }
  &-green,
  &-yellow,
  &-brown {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 132px;
      height: 132px;
      border-radius: 50%;
      z-index: 5;
      top: 4%;
      transition: filter 250ms $time-function;
    }
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -10%;
      width: 132px;
      height: 136px;
      border: 2px solid transparent;
      border-radius: 15px;
      margin-top: 20px;
      z-index: 4;
      left: 0;
      transition: background-color 250ms $time-function;
    }
  }
  &-green {
    &::before {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }
    &::after {
      border-color: #96af8c;
    }
  }
  &-yellow {
    &::before {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    &::after {
      border-color: getcolor(accent);
    }
  }
  &-brown {
    &::before {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
    &::after {
      border-color: #d6936d;
    }
  }

  &-g:checked ~ .checkbox-green::after {
    background-color: rgba(150, 175, 140, 1);
  }
  &-g:checked ~ .checkbox-green::before {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &-y:checked ~ .checkbox-yellow::after {
    background-color: rgba(239, 212, 120, 1);
  }
  &-b:checked ~ .checkbox-brown::after {
    background-color: rgba(214, 147, 109, 1);
  }
  &-img {
    margin-bottom: 30px;
    border-radius: 50%;
    z-index: 6;
    position: relative;
    width: 132px;
  }
}
