.modal-product {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  padding: 26px 18px;

  background-color: getcolor('primary-text-color');
  border: 2px solid getcolor('accent');
  border-radius: 10px;

  @media screen and (min-width: $mobile) {
    top: 50%;
    left: 50%;
    max-width: 280px;
    max-height: 100%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $tablet) {
    max-width: 568px;
    max-height: 100%;
    padding: 30px 38px;
  }
}

.is-hidden .modal-product {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-product__button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: getcolor('secondary-text-color');
  background-color: getcolor('modal-bg-color');
  border-radius: 50%;
  border: none;
}

.modal-product__title {
  width: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  letter-spacing: normal;
  color: getcolor('secondary-text-color');
  text-align: center;

  @media screen and (min-width: $tablet) {
    width: 273px;
    margin-bottom: 31px;

    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.modal-product__image-container {
  position: relative;
  width: 132px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;

  border-radius: 50%;
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  &::before {
    content: '';
    display: block;
    position: relative;
    top: -7px;
    left: 0;

    width: 132px;
    height: 132px;

    border-radius: 50%;
    background-image: url('../images/chosen_option@1x-modal.jpg');
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.modal-product__description-list {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-product__description-item {
  position: relative;
  width: 53px;
  height: 72px;
  padding: 50px 3px 6px;
  text-align: center;
  border: 2px solid getcolor('modal-border-color');
  border-radius: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: getcolor('secondary-text-color');

  @media screen and (min-width: $tablet) {
    width: 65px;
    height: 90px;
    padding: 58px 4px 13px;

    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.modal-product__description-text {
  position: absolute;
  top: -1px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);

  color: getcolor('secondary-text-color');
  background-color: getcolor('modal-border-color');
  border-radius: 50%;
  border: 2px solid getcolor('modal-border-color');
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: $tablet) {
    width: 53px;
    height: 53px;

    font-size: 12px;
    line-height: calc(28 / 12);
  }
}

.modal-product__sub-title {
  text-align: center;
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: getcolor('secondary-text-color');
}

.modal-product__list-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;

  color: getcolor('secondary-text-color');

  @media screen and (min-width: $tablet) {
    margin-bottom: 48px;
  }
}

.modal-product__item {
  margin-bottom: 11px;
}

.modal-product__value-list {
  text-align: right;
}

.modal-product__form {
  margin: 0;
  text-align: center;
}

.modal-product__form-input:nth-child(-n + 3) {
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
}

.modal-product__form-input {
  width: 100%;
  margin: 0;
  padding: 10px 9px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  color: getcolor('secondary-text-color');
  background-color: getcolor('imput-bg-color');

  border: 1px solid getcolor('imput-border-color');
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    padding: 10px 15px;
  }
}

.modal-product__form-textarea {
  display: block;
  width: 100%;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 10px 9px;
  resize: none;

  font-size: 14px;
  line-height: calc(20 / 14);
  font-weight: 400;

  color: getcolor('secondary-text-color');
  background-color: getcolor('imput-bg-color');

  border: 1px solid getcolor('imput-border-color');
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
    padding: 10px 15px;
  }
}

.modal__form-button {
  padding: 12px 34px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: getcolor('secondary-text-color');

  border-radius: 10px;
  background-color: getcolor('accent');
  border: none;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }

  &:focus {
    color: getcolor('modal-bg-color');
    background-color: #0a8817;
  }

  &:hover {
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }
}
