
// MENU OPEN - CLOSE BUTTONS

.page-header__menu-button {
    width: 32px;
    height: 32px;
    fill: #FFFFFF;
    @media screen and (max-width: 767px) {
        margin: auto 20px auto auto;
    }
    @media screen and (min-width: 767px) {
        margin: 0 0 0 auto;
        height: 44px;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.icon-menu {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: inherit;
    margin: auto;
    
}
.icon-menu--order {
    margin-left: 4px;
}

.js-open-menu {
    @media screen and (min-width: 768px) {
        justify-self: end;
        align-self: end;
    }
    
}


  
// ORDER BUTTON STYLE

.menu-order-button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #000000;
background: #F8D24E;
border-radius: 10px;
width: 152px;
height: 42px;

@media screen and (max-width: 767px) {
   
    margin: auto auto 64px auto; 
}
}
.menu-order-button {
    &:hover,
    &:focus {
        background: #0A8817;
    }
    &:focus {
        color: #FFFFFF;
    }
    &:disabled {
        background: #ABABAB;
    }
}

.menu-order-button--mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
    &:hover {
        background: #0A8817;
    }
    &:focus {
        background: #0A8817;
        color: #FFFFFF;
    }
    &:disabled {
        background: #ABABAB;
    }
}
.menu-order-button--tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }
    
    justify-self: end;
    align-self: end;
    &:hover {
        background: #0A8817;
    }
    &:focus {
        background: #0A8817;
        color: #FFFFFF;
    }
    &:disabled {
        background: #ABABAB;
    }
}

// ORDER MENU CLOSE

.modal-menu-order__menu-button {
    width: 32px;
    height: 32px;
fill: #131313;
}
.menu-order-buy-now__submit-button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

color: #131313;
}